.App {
  color: rgb(236, 213, 183);
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../public/246086-Earth-space-shadow-2697306449);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  border: 0;
  margin: 0;
  padding: 0;
}

.transactions-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.transactions-wrapper > * {
  flex-basis: 1;
}

.pending-container {
  width: 50%;
  height: 88vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.right-side-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transaction-data-container {
  min-height: 80%;
  display: flex;
}

.tx-query {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  background-color: transparent;
  flex-grow: 1;
}

.tx-query > * {
  color: rgb(236, 213, 183);
  display: block;
  align-self: center;

}

.button {
  margin-right: 1em;
  padding: 5px 10px 5px 10px;
  align-self: flex-end;
  font-weight: bolder;
  border: solid 2px antiquewhite;
}

span {
  font-weight: bolder;
}

.spaceship-container {
  align-self: flex-start;
  padding-bottom: 4em;
  flex-grow: 2;
}