.App {
  color: antiquewhite;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../public/246086-Earth-space-shadow-2697306449);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  border: 0;
  margin: 0;
  padding: 0;
}

.transactions-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.transactions-wrapper > * {
  flex-basis: 1;
}

.pending-container {
  width: 50%;
  height: 88vh;
  border: dashed red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.right-side-container {
  width: 50%;
  border: dashed red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transaction-data-container {
  border: dashed aqua;
  min-height: 80%;
}

.spaceship-container {
  border: dashed green;

  align-self: flex-start;
}